@model TbShippingTypeDTO

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ResShared.Form_Title_ShippingType</h4>
            <p class="card-description">@ResShared.Form_Description_ShippingType</p>
            <form class="forms-sample" asp-controller="ShippingType" asp-action="Edit" method="post">

                <div class="form-group">
                    <label for="ShippingTypeAname">@ResShared.Field_ShippingTypeAname</label>
                    <input type="text" class="form-control" id="ShippingTypeAname"
                           placeholder="@ResShared.Plh_ShippingTypeAname"
                           name="ShippingTypeAname" asp-for="ShippingTypeAname"
                           asp-route-id="@Model.ShippingTypeAname">
                           <span asp-validation-for="ShippingTypeAname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ShippingTypeEname">@ResShared.Field_ShippingTypeEname</label>
                    <input type="text" class="form-control" id="ShippingTypeEname"
                           placeholder="@ResShared.Plh_ShippingTypeEname"
                           name="ShippingTypeEname" asp-for="ShippingTypeEname"
                           asp-route-id="@Model.ShippingTypeEname">
                           <span asp-validation-for="ShippingTypeEname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ShippingFactor">@ResShared.Field_ShippingFactor</label>
                    <input type="number" step="0.05" class="form-control" id="ShippingFactor"
                           placeholder="@ResShared.Plh_ShippingFactor"
                           name="ShippingFactor" asp-for="ShippingFactor" asp-route-id="@Model.ShippingFactor">
                           <span asp-validation-for="ShippingFactor" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-gradient-primary me-2">@ResShared.Btn_Submit</button>
                <a asp-action="Index" class="btn btn-light">@ResShared.Btn_Cancel</a>
            </form>
        </div>
    </div>
</div>
@section PluginStyles
{
    <link rel="stylesheet" href="~/admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
}
@section PluginScripts
{
    <script src="~/admin/vendors/select2/select2.min.js"></script>
    <script src="~/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
}
@section CustomScripts
{
    <script src="~/admin/js/file-upload.js"></script>
    <script src="~/admin/js/typeahead.js"></script>
    <script src="~/admin/js/select2.js"></script>
}