@model TbSubscriptionPackageDTO

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ResShared.Form_Title_SubscriptionPackage</h4>
            <p class="card-description">@ResShared.Form_Description_SubscriptionPackage</p>
            <form class="forms-sample" asp-controller="SubscriptionPackage" asp-action="Edit" method="post">

                <div class="form-group">
                    <label for="PackageName">@ResShared.Field_PackageName</label>
                    <input type="text" class="form-control"
                           placeholder="@ResShared.Plh_PackageName"
                           asp-for="PackageName">
                           <span asp-validation-for="PackageName" class="text-danger"></span>
                </div>

                <div class="form-group">
                        <label for="ShipmentCount">@ResShared.Field_ShipmentCount</label>
                    <input type="number" class="form-control" step="1"
                               placeholder="@ResShared.Plh_ShipmentCount"
                               asp-for="ShipmentCount">
                            <span asp-validation-for="ShipmentCount" class="text-danger"></span>
                </div>

                <div class="form-group">
                            <label for="NumberOfKiloMeters">@ResShared.Field_NumberOfKiloMeters</label>
                    <input type="number" class="form-control" step="1"
                                   placeholder="@ResShared.Plh_NumberOfKiloMeters"
                                   asp-for="NumberOfKiloMeters">
                                <span asp-validation-for="NumberOfKiloMeters" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="TotalWeight">@ResShared.Field_TotalWeight</label>
                    <input type="number" class="form-control" step="1"
                           placeholder="@ResShared.Plh_TotalWeight"
                           asp-for="TotalWeight">
                    <span asp-validation-for="TotalWeight" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-gradient-primary me-2">@ResShared.Btn_Submit</button>
                <a asp-action="Index" class="btn btn-light">@ResShared.Btn_Cancel</a>
            </form>
        </div>
    </div>
</div>
@section PluginStyles
{
    <link rel="stylesheet" href="~/admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
}
@section PluginScripts
{
    <script src="~/admin/vendors/select2/select2.min.js"></script>
    <script src="~/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
}
@section CustomScripts
{
    <script src="~/admin/js/file-upload.js"></script>
    <script src="~/admin/js/typeahead.js"></script>
    <script src="~/admin/js/select2.js"></script>
}